* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
  color: whitesmoke;
}

h3 {
  font-size: 3.2rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

span,
div,
input,
button,
label,
li {
  font-size: 2.2rem;
}

.colors {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color {
  height: 80vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.color h2 {
  cursor: pointer;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.controls button {
  border-radius: 50%;
  border: none;
  height: 5rem;
  width: 5rem;
  background: rgba(7, 7, 7, 0.726);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.controls img {
  max-width: 60%;
  pointer-events: none;
}

.sliders {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background: whitesmoke;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}
.sliders .close-adjustment {
  position: absolute;
  right: -3%;
  top: -5%;
  background-color: rgba(7, 7, 7, 0.774);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  color: whitesmoke;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.sliders .close-adjustment:hover {
  background-color: rgb(7, 7, 7);
}
.sliders span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 1rem;
}
.sliders input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 90%;
  padding: 0;
  margin: 0.6rem 0;
  height: 1.5rem;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
          appearance: none !important;
  width: 1.5rem;
  height: 1.5rem;
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
       appearance: none !important;
  width: 1.5rem;
  height: 1.5rem;
  background: whitesmoke;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50%;
  cursor: pointer;
}

.sliders.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  pointer-events: all;
}

.panel-container {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.library-panel,
.generate-panel,
.save-panel {
  -ms-flex-preferred-size: 10rem;
      flex-basis: 10rem;
}
.library-panel button,
.generate-panel button,
.save-panel button {
  border: none;
  background: rgb(31, 35, 65);
  padding: 1rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
}
.library-panel p,
.generate-panel p,
.save-panel p {
  margin: 0.5rem 0;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.copy-popup,
.save-popup,
.library-popup {
  width: 40vw;
  height: 30rem;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 4rem;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.copy-popup h3,
.save-popup h3,
.library-popup h3 {
  text-align: center;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.library-popup,
.save-popup {
  position: relative;
}
.library-popup .close-save-btn,
.library-popup .close-library,
.save-popup .close-save-btn,
.save-popup .close-library {
  position: absolute;
  right: 4%;
  top: 6%;
  background-color: rgb(7, 7, 7);
  color: whitesmoke;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.save-popup input {
  padding: 1rem;
}
.save-popup .submit-save-btn {
  padding: 1rem 4rem;
  background: rgb(31, 35, 65);
  color: white;
  cursor: pointer;
  border: none;
}

.library-popup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  padding: 2rem 0;
}
.library-popup h3 {
  padding: 2rem 0;
}

.color-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 1rem 0;
  height: 5rem;
}

.palette-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.preview-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 0.8rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.preview-container div {
  height: 100%;
  width: 100%;
}

.select-btn {
  cursor: pointer;
  margin-left: 0.8rem;
  padding: 1rem 3rem;
  border: none;
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 53%;
  }
}
@media screen and (max-width: 780px) {
  html {
    font-size: 42%;
  }
  .colors {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .color {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sliders {
    z-index: 2;
    position: fixed;
    height: 25rem;
  }
  .copy-popup,
.save-popup,
.library-popup {
    width: 80%;
    height: 40rem;
  }
}